@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

body {
    background-color: white;
    font-family: sans-serif;
}

form {
    color: black;
}

form input {
    margin: 0.25em;
}

form input[type=number] {
    max-width: 4em;
}

form input[type=button] {
    cursor: pointer;
    float: right;
}

form h2,
form h3 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

div[id] {
    margin: 1em auto;
    border: 0.1em solid rgba(128, 128, 128, 0.25);
    padding: 0.5em;
    border-radius: 0.25em;
    background-color: rgba(128, 128, 128, 0.05);
    max-width: 800px;
}

#gradicon {
    width: auto;
    height: 1em;
}

@media (prefers-color-scheme: dark) {
    /* dark theme */

    body {
        background-color: black;
    }

    form {
        color: white;
    }
}

.clear {
    clear: both;
    visibility: hidden;
    border: 0;
    margin: 0;
    padding: 0;
}